[[source]]
name = "pypi"
#url = "https://pypi.org/simple"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
fabric = "*"

[packages]
django = "==2.2.14"
markdown = "*"
gunicorn = "*"
faker = "*"
django-pure-pagination = "*"
elasticsearch = ">=2,<3"
django-haystack = "*"

[requires]
python_version = "3.6"
